{% extends 'base.html.twig' %}

{% block title %}crud{% endblock %}
{% block body %}
    {% if res %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Номын нэр</th>
                    <th>Төрөл</th>
                    <th>Зохиолч</th>
                    <th>Үнэ</th>
                    <th>Хэвлэсэн огноо</th>
                </tr>
            </thead>
            <tbody>
                {% for r in res %}
                    <tr>
                        <td>{{ r.title }}</td>
                        <td>{{ r.category }}</td>
                        <td>{{ r.author }}</td>
                        <td>{{ r.price|price }}</td>
                        <td>{{ r.publishedat|date_form }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Таарах илэрц байхгүй байна</p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> #}
    <script src="/js/main.js"></script>
{% endblock %}